<header>
  <nav>
    <p class="home-anchor">
      <a href="/"><i class="fas fa-ticket-alt"></i></a
      ><span class="website-name"><a href="/">TixFind</a></span>
    </p>
    <ul class="navigation">
      <li class="nav-link"><a href="/news">news</a></li>
      <li class="nav-link"><a href="/about">about</a></li>
      <li class="nav-link"><a href="/help">help</a></li>
    </ul>
  </nav>
</header>
