<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs') %>
  <body class="body-background">
    <div class="container-fluid">
      <%- include('includes/navigation.ejs') %>
      <main>
        <h1 class="help-title text-center">Having Trouble?</h1>
        <div class="help-container">
          <ol>
            <li>
              1.) Go to the main page and locate the search form.
            </li>
            <li>2.) Type in a city you wish to see events for.</li>
            <li>
              3.) Click the button and watch as you get your results.
            </li>
          </ol>
        </div>
        <div class="help-extras-container">
          <div class="extras-div text-center">
            <i class="help-icon fas fa-hands-helping"></i>
            <h5>Online Community</h5>
            <p>
              Connect with other users who are also experiencing trouble.
              Together you can troubleshoot and solve your problems.
            </p>
          </div>
          <div class="extras-div text-center">
            <i class="help-icon fas fa-info-circle"></i>
            <h5>Extra Information</h5>
            <p>
              You can read all about this product and dive into the help manual
              to troubleshoot your issue.
            </p>
          </div>
        </div>
        <div class="extras-div extras-div-end text-center"">
          <i class="help-icon fas fa-user"></i>
          <h5>Chat With a Specialist</h5>
          <p>
            You can schedule an appointment online with one of our
            specialists who will help you through your problem.
          </p>
        </div>
      </main>
    </div>
    <%- include('includes/footer.ejs') %>
  </body>
</html>
